nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}

nav ul {
  list-style-type: none;
  display: flex; 
  margin: 0;
  padding: 0;
}

nav ul li {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Helvetica", sans-serif;
  padding: 20px;
  cursor: pointer;
}

.scrolled {
  background-color: #ac3b61;
  transition: 0.5s;
  color: #EAE7DC; 
}
