<div class="container">
  <div class="left">
    <div class="title">
        <h4>about:</h4>
      </div>
    <div class="summary">
      <p>
        I'm a front-end developer based in Detroit, MI who loves to craft intuitive, cohesive websites and applications. I primarily create using JavaScript and Angular. When I'm not sharpening my programming skills, you can find me playing Animal Crossing or bass.<br><br>
        Currently learning: React & Bootstrap.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="skills">
      <h4>skills:</h4>
      <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>HTML/CSS</li>
        <li>Angular</li>
        <li>Git/Github</li>
        <li>Web APIs</li>
        <li>NodeJS</li>
        <li>Express</li>
        <li>SQL</li>
        <li>Visual Studio</li>
        <li>Heroku</li>
      </ul>
    </div>
  </div>
</div>

<div class="contact">
  <h4>get in touch:</h4>
  <div class="email"><i class="far fa-paper-plane"></i><a href="mailto:alicekaygriffin@gmail.com">alicekaygriffin@gmail.com</a></div>
  <div class="resume"><i class="far fa-file"></i><a href="https://docs.google.com/document/d/1DMrivWnnWjIFqnPZo2Icr_kKZLj0HVTuQYnY7aVKKJI/edit?usp=sharing" download="alicegriffin_resume">view resume</a></div>
</div>

