<div class="container">
    <div class="title">
        <h3>about:</h3>
      </div>
  <div class="left">
    <div class="summary">
      <p>
        Nulla vel nisi eget lectus auctor sagittis. Aliquam enim lorem, suscipit id scelerisque at, dignissim eu libero. Proin nec aliquam felis. Cras molestie nulla orci, ac placerat ex convallis dapibus. Aenean eget lectus mauris. Aliquam id varius odio, eget dictum est. Mauris rutrum diam non lacus hendrerit euismod.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="skills">
      <h4>skills:</h4>
      <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>HTML/CSS</li>
        <li>Angular</li>
        <li>Git/Github</li>
        <li>Web APIs</li>
        <li>NodeJS</li>
        <li>Express</li>
        <li>SQL</li>
        <li>Visual Studio</li>
        <li>Heroku</li>
      </ul>
    </div>
  </div>
</div>
