.container {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

img {
    height: 170px;
    width: 300px;
    border: 1px solid lightgrey;
}

a {
    width: fit-content;
}

img:hover {
    opacity: 0.8;
}

.projects-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 15px;   
}

h3 {
    margin-left: 20px; 
    font-family: 'Open Sans', sans-serif;;
    color:   #ac3b61; 
    font-size: 1.5rem;
}

#description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding: 5px;
    width: fit-content;
}

.desc-icon {
    display: flex;
    margin-top: 5px;
    align-content: center;
    justify-content: space-between;
}

.fas {
    color:  #ac3b61;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {

    h3 {
        font-size: 36px;
        font-weight: lighter;
    }

    img {
        width: 400px;
        height: 223px;
    }

    #description {
        font-size: 16px;
    }

    .container {
        margin: 0px 50px;
    }

}