.container {
  display: flex;
  height: 100%;
}

.title-type {
  display: flex;
}

.title {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  line-height: 0px;
  justify-content: center;
  align-self: center;
  align-items: center;
}

#typedtext {
  font-weight: bold;
  font-family: 'Roboto Mono'; 
}


.subtitle {
  font-family: 'Roboto Mono'; 
  font-size: 18px;
}

.load {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  #typedtext {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 26px;
  } 

}


