#projects {
    height: auto;
    min-height: 100vh; 
    padding-top: 60px;
    margin-top: -60px;
}

#alice {
    height: 100vh;
}

#about {
    height: auto;
    min-height: calc(100vh - 150px);
    padding-top: 60px;
    margin-top: -60px; 
}